<header>
    <div class="navigator">
        <a href="/songs" <%- title === 'All Songs' ? 'class="active"' : ''%>>All Songs</a>
        <% if (user) { %>
            <a href="/songs/new"<%- title === 'Add Songs' ? 'class="active"' : ''%>>Add Songs</a>
            <a href="/logout">LOG OUT</a>
        <% } else { %>
            <a href="/auth/google" class="login">LOG IN&nbsp;</a>
        <% } %>
    </div>
    <div class="header-Title">
        <h1>The Best Songs and Comments Of All Times!</h1>
    </div>
</header>