<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <h2>404</h2>
    <h3>The page you requested doesn't exist</h3>
    <p>Users: check the address bar to make sure you're requeting a valid page</p>
    <!-- Please remove the paragraph in production-->
    <p>Developers: Check your routes, links or forms to ensure they are defiend correctly</p>
    <%- include('./partials/footer') %>
</body>
</html>