<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <img src = "https://picsum.photos/id/237/200/300" alt="a cute puppy">
    <p>Try again later, <a href="/"> go back home</a></p>
    <%- include('./partials/footer') %>
</body>
</html>