.index-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 20vmin);
    gap: 1.5vmin;
    margin-top: auto;
    padding: 5vmin;
}

#index-topics {
    background-color: red;
    font-size: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: span 2;
}

#index-options {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5vmin;
    grid-row: span 2;
}