@import url("index.css");

.navigator{
  overflow: hidden;
  background-color: #333;
}

.navigator a{
    float: left;
    color: white;
    text-align: center;
    padding-left: 8vmin;
    padding-right: 10vmin;
    padding-top: 2vmin;
    padding-bottom: 2vmin;
    text-decoration: none;
    font-size: 20px;
}

.navigator a:hover {
    background-color: #04AA6D;;
    color:black;  
}

#header-title {
    font-size: 5vmin;
    text-align: center;
}

body {
    background-color: rgb(63, 213, 158);
    font-size: 2vmin;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* head {
    letter-spacing: 1vmin;
    background-color: aqua;
    text-align: center;
} */ 

button {
    margin-top: 3vmin;
    font-size: 2vmin;
    border: 0.06vmin solid black;
    border-radius: 5vmin;
    padding: 2.2vmin;
    color: black;
}

button:hover {
    background-color: black;
    color: white;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;  
}

.login img {
    height: 30px;
}

.comment-user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-user img {
    border-radius: 50%;
    height: 30px;
}

.block-style-container {
    position: fixed;
    
}

.footer {
    position: fixed;
    font-size: 2vmin;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    /* padding-left: 50vmin;
    padding-right: 50vmin;
    padding-top: 35vmin;
    padding-bottom: 5vmin; */
}