header {
    color: black;
    font-size: 8vmin;
    font-family: cursive;
    letter-spacing: 1vmin;
    background-color: aqua;
    text-align: center;
}

h1 {
    color: black;
    font-size: 8vmin;
    font-family: sans-serif;
    background-color: rgb(103, 38, 38);
    text-align: center;
}

 h2 {
    color: maroon;
    font-size: 4vmin;
    font-family: sans-serif;
    background-color: lightgray;
    text-align: center;
    /* padding: 4vmin; */
} 

 h3 {
    color: maroon;
    font-size: 4vmin;
    font-family: sans-serif;
    background-color: lightgray;
    text-align: center;
} 

 h4 {
    color: maroon;
    font-size: 8vmin;
    font-family: sans-serif;
    background-color: lightgray;
    text-align: center;
} 

body {
    background-color: rgb(63, 213, 158);
    font-size: 2vmin;
    justify-content: center;
    align-items: center;

}

 button {
    margin-top: 3vmin;
    font-size: 2vmin;
    border: 0.06vmin solid black;
    border-radius: 5vmin;
    padding: 2.2vmin;
    color: black;
}

button:hover {
    background-color: black;
    color: white;
}

footer {
    font-size: 2.5vmin;
    text-align: center;
    display: flex;
    padding-left: 50vmin;
    padding-right: 50vmin;
    padding-top: 35vmin;
    padding-bottom: 5vmin;
}