 <%- include('../partials/header') %>

<main>
    <form id="editComment" action="/songs/<%= song.comments._id %>/comments?_method=PUT" method="POST">
        <textarea name="title" required><%= song.comments.title%></textarea>
            <button type="submit">edit</button>

</main>

<%- include('../partials/footer') %>